html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0%;
    margin: 0%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 25px 0%;
}

.ham {
    cursor: pointer;
    border: none;
    margin: 0px;
    padding: 0%;
    background-color: transparent; 

    position: absolute;
    top: 5px;
    right: 20px;
    transition: .6s;
}

.ham.rotate {
    transform: rotate(90deg);
}

.ham span {
    display: block;
    background-color: white;
    height: 2.4px;
    width: 26px;
    margin: 10px auto;
    border-radius: 2px;
}

.enlaces-menu {
    padding: 0%;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 98vh;
    position: absolute;
    width: 95%;
    left: 2.5%;
    top: 1vh;
    background-color: rgba(0, 0, 0, .9);
    display: none;
    opacity: 0;
}

.enlaces-menu li {
    padding: 0% 40px;
    list-style: none;
    transition: border-top 1s;

    width: 70%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 0px 1px;
}

.enlaces-menu li:hover {
    border-top: 1px white solid;
}

.enlaces-menu li:active {
    background-color: gray;
}

.enlaces-menu li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 1.6rem;
    letter-spacing: 2px;
}

@keyframes muestraMenu {
    from{opacity: 0;}
    to{opacity: 1;}
}

.enlaces-menu.activado {
    display: flex;
    animation: muestraMenu 450ms ease-in-out both;
}

.br-1, .br-2, .br-3 {
    transition: .4s;
}

.br-1.animado {
    transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado {
    opacity: 0;
}

.br-3.animado {
    transform: rotate(45deg) translate(-10px, -8px);
}

/* MEDIA QUERIS TABLE 650PX */
@media screen and (min-width: 649px) {
    .ham {
        display: none;
    }

    .enlaces-menu {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: auto;
        position: initial;
        opacity: 1;
        background-color: transparent;
    }

    .enlaces-menu li {
        padding: 1% 10px;
        width: 7rem;
    }

    .enlaces-menu li a {
        font-size: 1.2rem;
    }
}

/* MEDIA QUERIS DESKTOP 1024PX */
@media screen and (min-width: 1023px){
    .enlaces-menu li {
        padding: 2% 30px;
        width: 8.5rem;
    }
}